@charset "utf-8";
@use "breakpoint";
@use "mixin";
@use "variables";

// hover
@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

// hover opacity
@mixin hover_opacity($opacity: 0.7, $duration: 0.3s) {
  @include breakpoint.md {
    transition: opacity $duration variables.$ease_out_quint;
  }

  @include hover {
    opacity: $opacity;
  }
}

//hover 画像拡大
@mixin hover_zoom($scale: 1.05, $duration: 0.3s) {
  @include breakpoint.md {
    // Safariバグ対応
    position: relative;
    z-index: 1;
    overflow: hidden;

    img {
      transition: transform $duration variables.$ease_out_quint;
    }
  }

  @include hover {
    img {
      transform: scale($scale);
    }
  }
}
