@charset "utf-8";
@use "../global";

//5〜200pxまで5px刻みで生成
// 指定するpaddingの範囲を定義
$padding-min: 1;
$padding-max: 40;

@for $i from $padding-min through $padding-max {
  .u-sp_padding_top_#{$i * 5} {
    @include global.under_md {
      padding-top: #{$i * 5}px !important;
    }
  }
  .u-sp_padding_right_#{$i * 5} {
    @include global.under_md {
      padding-right: #{$i * 5}px !important;
    }
  }
  .u-sp_padding_bottom_#{$i * 5} {
    @include global.under_md {
      padding-bottom: #{$i * 5}px !important;
    }
  }
  .u-sp_padding_left_#{$i * 5} {
    @include global.under_md {
      padding-left: #{$i * 5}px !important;
    }
  }
  .u-pc_padding_top_#{$i * 5} {
    @include global.md {
      padding-top: #{$i * 5}px !important;
    }
  }
  .u-pc_padding_right_#{$i * 5} {
    @include global.md {
      padding-right: #{$i * 5}px !important;
    }
  }
  .u-pc_padding_bottom_#{$i * 5} {
    @include global.md {
      padding-bottom: #{$i * 5}px !important;
    }
  }
  .u-pc_padding_left_#{$i * 5} {
    @include global.md {
      padding-left: #{$i * 5}px !important;
    }
  }
}
