@charset "utf-8";
@use "@/styles/global" as *;

.top {
  .top__content {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: $color_lightgray;

    @include md {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }

  .top__section {
    & + .top__section {
      margin-top: 40px;

      @include md {
        margin-top: 134px;
      }
    }
  }
}
